---
//import { categories } from '../data/categories'; // Ajusta la ruta según tu estructura

// Simulación de datos si no tienes conexión a base de datos aún
const categories = [
  { id: 1, name: "Entradas" },
  { id: 2, name: "Platos" },
  { id: 3, name: "Bebidas" },
  { id: 4, name: "Alcohol" },
  { id: 5, name: "Ensaladas" },
  { id: 6, name: "Cafetería" },
];
---

<section class="categories-section text-[2vh] font-weight-500">
  <nav class="categories-list">
    {
      categories.map((category) => (
        <a href={`/#`} class="category-item">
          {category.name}
        </a>
      ))
    }
  </nav>
</section>

<style>
  section::-webkit-scrollbar {
    /* Para navegadores basados en Webkit (Chrome, Safari, Opera) */
      display: none;
    }
    /* Para Firefox */
    .categories-list { 
      scrollbar-width: none; /* Oculta la barra de scroll */
      overflow-y: scroll; /* Mantiene la funcionalidad de desplazamiento */
    }
    
  .categories-list {
    display: flex;
    gap: 0.1rem;
    padding: 1rem 0;
  }
  .category-item {
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    color: #222;
    border-bottom: 3px solid;
    border-color: rgba(255, 0, 0, 0);
    font-weight: 700;
  }
  .category-item:hover {
    border-bottom: 3px solid;
    border-color: rgb(255, 0, 0);
  }
  .category-item:focus {
    border-bottom: 3px solid;
    border-color: rgb(255, 0, 0);
  }
</style>
