---
//import { categories } from '../data/categories'; // Ajusta la ruta según tu estructura

// Simulación de datos si no tienes conexión a base de datos aún
const categories = [
  { id: 1, name: "Entradas" },
  { id: 2, name: "Platos" },
  { id: 3, name: "Bebidas" },
  { id: 4, name: "Postres" },
  { id: 5, name: "Postres" },
  { id: 6, name: "Postres" },
];
---

<section class="categories-section text-base font-weight-500">
  <nav class="categories-list">
    {
      categories.map((category) => (
        <a href={`/#`}  class="category-item">
          {category.name}
        </a>
      ))
    }
  </nav>
</section>

<style>
  .categories-list {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem 0;
  }
  .category-item {
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    color: #222;
    border-bottom: 3px solid;
    border-color: rgba(255, 0, 0, 0);
    font-weight: 700;
  }
  .category-item:hover {
    border-bottom: 3px solid;
    border-color: rgb(255, 0, 0);
  }
  .category-item:focus {
    border-bottom: 3px solid;
    border-color: rgb(255, 0, 0);
  }
</style>
